{% extends "base.html" %}
{% load urlify %}

{% block head_title %}
    {{ instance.title }} | {{ block.super }}
{% endblock head_title %}
{% block content %}
    <div class="col-sm-8 col-sm-offset-2">
        {% if instance.image %}
            <img src="{{ instance.image.url }}" class="img-responsive"/>
        {% endif %}
        <h1>{{ title }} <small>{% if instance.draft %}<span style="color: red">Draft</span>{% endif %} {{ instance.publish }}</small></h1>
        {% if instance.user.get_full_name %}
        <p>Author: {{ instance.user.get_full_name }}</p>
        {% endif %}
        <div class="fb-like" data-href="{{ request.build_absolute_uri }}"
             data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

{#    <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div>#}

{#            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">#}
{#                Facebook#}
{#            </a>#}
{##}
{#            <a href="https://twitter.com/home?status={{ instance.content|truncatechars:80|urlify }}%20{{ request.build_absolute_uri }}">#}
{#                Twitter#}
{#            </a>#}
{##}
{#            <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'>#}
{#                GooglePlus#}
{#            </a>#}
{##}
{#            <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&source={{ request.build_absolute_uri }}">#}
{#                Linkedin#}
{#            </a>#}
{##}
{#            <a href="http://www.reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ instance.title }}">#}
{#                Reddit#}
{#            </a>#}
{#        </p>#}
        {{ instance.content|linebreaks }}<br/>

        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>

    </div>
{% endblock content %}